*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: grey;
}

body{
  font-family: 'Roboto', sans-serif;
}
.mt20{
  margin-top: 20px;
}
.wrapper{
  width: 100%;
  height: 100vh;
  background: grey;
}

.main-content{
  width: 100%;
  height: calc(100% - 100px);
  background: red;
}

.sidebar-left{
  width: 200px;
  height: 100%;
  float: left;
  overflow-y: auto;
  background: blue;
}

.navbar-top{
  height: 80%;
  background: #000;
  padding-left: 15px;
  padding-right: 15px;
}

.container-img-navbar {
  padding: 15px;
}

.navbar-top div i {
  margin-right: 10px;
}
.navbar-top div a {
  text-decoration: none;
}
.navbar-top div a:hover {
  color: #fff;
}

.img-responsive{
  max-width: 100%;
  height: auto;
}
.containerAscoltati h2 {
  text-transform: uppercase;
  font-size: 13px;
}
.containerAscoltati small {
  text-transform: uppercase;
  font-size: 9px;
}
.navbar-bottom{
  height: 20%;
  background: orange;
}

.main-content-content{
  width: calc(100% - 200px);
  height: 100%;
  float: left;
  background: pink;
  overflow-y: auto;
}

.footer{
  width: 100%;
  height: 100px;
  background: green;
}
